{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Catalog</title>
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}"> <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-video-catalog.css' %}">
</head>
<!--

TemplateMo 552 Video Catalog

https://templatemo.com/tm-552-video-catalog

-->
<body>
	<div class="tm-page-wrap mx-auto">
		<div class="position-relative">
			<div class="potition-absolute tm-site-header">
				<div class="container-fluid position-relative">
					<div class="row">						
                        <div class="col-7 col-md-4">
                            <a href="{% url 'farms:farms' %}" class=" text-center ">
                                <img class="col-6" src="{% static 'img/logo.png' %}" alt="">
                            </a>
                        </div>
                        <div class="col-5 col-md-8 ml-auto mr-0">
                            <div class="tm-site-nav">
                                <nav class="navbar navbar-expand-lg mr-0 ml-auto" id="tm-main-nav">
                                    <button class="navbar-toggler tm-bg-black py-2 px-3 mr-0 ml-auto collapsed" type="button"
                                        data-toggle="collapse" data-target="#navbar-nav" aria-controls="navbar-nav"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                        <span>
                                            <i class="fas fa-bars tm-menu-closed-icon"></i>
                                            <i class="fas fa-times tm-menu-opened-icon"></i>
                                        </span>
                                    </button>
                                    <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                                        <ul class="navbar-nav text-uppercase">
                                            <li class="nav-item">
                                                <a class="nav-link tm-nav-link" href="{% url 'farms:farms' %}">مزرعه ها </a>
                                            </li>
                                            <li class="nav-item active">
                                                <a class="nav-link tm-nav-link" href="{% url 'farms:create_farm' %}">ایجاد مزرعه جدید </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link tm-nav-link" href="{% url 'accounts:signout' %}">خروج از سایت</a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
					</div>
				</div>
			</div>
			<div class="tm-welcome-container tm-fixed-header tm-fixed-header-3">
				<div class="text-center">
					<p class="pt-5 px-3 tm-welcome-text tm-welcome-text-2 mb-1 mt-lg-0 mt-5 text-white mx-auto">
                        سیستم مدیریت آنلاین<br>صفحه مربوط به مدیریت مزرعه {{farm.name_type}}
                    </p>                	
				</div>                
            </div>

            <div id="tm-fixed-header-bg"></div> <!-- Header image -->
		</div>

		<!-- Page content -->
		<main>
			<div class="container-fluid px-0">
				<div class="row">

                    <div class="col-md-10 col-sm-12">
                        <div class="row">
                            <div class="card-group mb-5 px-5 pt-5">

                                <div class="card col-12" style="width: 38rem;">
                                    <div class="card-header text-center">
                                      مشخصات مزرعه
                                    </div>
                                    <ul class="list-group list-group-flush text-right">
                                      :نام<li class="list-group-item tm-bg-black">{{farm.name_type}} </li>
                                      :نوع<li class="list-group-item tm-bg-black" >{{farm.unitـtype}} </li>
                                      :آدرس<li class="list-group-item tm-bg-black">{{farm.address}}</li>
                                      :ظرفیت<li class="list-group-item tm-bg-black">{{farm.Capacity}}</li>
                                      :نوع دانخوری<li class="list-group-item tm-bg-black">{{farm.Typeـofـfood}} </li>
                                      :نوع آب خوری<li class="list-group-item tm-bg-black">{{farm.Type_of_water}}</li>
                                      :سیستم تهویه<li class="list-group-item tm-bg-black">{{farm.ventilation_system}}</li>
                                      :تاریخ<li class="list-group-item tm-bg-black">{{farm.m2j}}</li>
                                      :وضعیت<li class="list-group-item tm-bg-black">
                                          {% if farm.active %}
                                            <span style="color: green;">مزرعه فعال است</span>
                                          {%else%}
                                            <span style="color: red;">مزرعه فعال نیست</span>
                                          {%endif%}
                                        </li>
                                    </ul>
                                </div>
                                
                                <div class="card col-12" style="width: 38rem;">
                                    <div class="card-header text-center">
                                      مشخصات تماس
                                    </div>
                                    <ul class="list-group list-group-flush text-right">
                                        {% for person in manage %}
                                           جایگاه :{{person.get_individualـposition_display}}
                                           <li class="list-group-item tm-bg-black">
                                           نام:{{person.name}}------تلفن:<a style="color: wheat;" href="tel:{{person.phone_number}}">{{person.phone_number}}</a>
                                            <a href="{% url 'farms:edit_manage' person.pk %}">
                                                <i class="material-icons" style="font-size:20px;color:rgb(0, 255, 149);">drive_file_rename_outline</i>                                            </a>
                                        </li>
                                        :آدرس<li class="list-group-item tm-bg-black">{{person.address}}</li>
                                        <hr>
                                        {%endfor%}
                                    </ul>
                                </div>
                            </div>
                        </div>
				        <div class="mx-auto tm-content-container mt-4 px-3 mb-3">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="tm-page-title mb-5 tm-text-primary" style="text-align: center;">ملزومات هر  مزرعه</h2>    
                                </div>                        
                            </div>
				        	<div class="row">
		                        <div class="col-lg-6 mb-5 pt-3">
		                            <div class="media tm-testimonial">
                                        <img class="mr-4 col-4 rounded-circle img-fluid" src="{% static 'img/vaccination.jpg' %}" alt="Generic placeholder image">
                                        <p class="media-body pt-3 tm-testimonial-text text-justify">
                                            برنامه واکسیناسیون مزرعه با توجه به نوع واکسن ,سن تجویز ,تاریخ تزریق ,روش تجویز و اطلاعات ضروری
                                            <br>
                                            <a href="{% url 'farms:vaccinations' farm.pk %}"><i class="material-icons" style="font-size:60px;color:aquamarine;">visibility</i></a> 
                                        </p>                              
                                    </div>              
		                        </div>
		                        <div class="col-lg-6 mb-5 pt-3">
                                      <div class="media tm-testimonial">
                                      <img class="mr-4 rounded-circle col-4 img-fluid" src="{% static 'img/chart.png' %}" alt="Generic placeholder image">
                                      <p class="media-body pt-3 tm-testimonial-text text-justify">
                                        خروجی تولید مزرعه دسته بندی روزانه و چارت نمایش مزرعه دسته بندی در سالم, ۲زرده, شکسته
                                        <br>
                                        <a href=""><i class="material-icons" style="font-size:60px;color:aquamarine;">visibility</i></a>
                                    </p>
                                    </div>                                    
                                </div>
                                <div class="col-lg-6 mb-5 pt-3">
                                    <div class="media tm-testimonial">
                                      <img class="mr-4 col-4 rounded-circle img-fluid" src="{% static 'img/chicken.jpg' %}" alt="Generic placeholder image">
                                      <p class="media-body pt-3 tm-testimonial-text text-justify">
                                        مشخصات کامل از محصول کاشت شده در مزرعه نوع ,سن ,تعداد ,زمان ورود به مزرعه ,نژاد و مبدا
                                        <br>
                                        <a href="{% url 'farms:profilechicken' farm.pk %}"><i class="material-icons" style="font-size:60px;color:aquamarine;">visibility</i></a>
                                    </p>
                                    </div>                  
                                </div>
                                <div class="col-lg-6 mb-5 pt-3">
                                    <div class="media tm-testimonial">
                                      <img class="mr-4 col-4 rounded-circle img-fluid" src="{% static 'img/losses.jpg' %}" alt="Generic placeholder image">
                                      <p class="media-body pt-3 tm-testimonial-text text-justify">
                                        میزان تلفات وارد شده به محصول بصورت روزانه و با دسته بندی بیماری وخفگی وفیزیکی و توضیحات
                                        <br>
                                        <a href=""><i class="material-icons" style="font-size:60px;color:aquamarine;">visibility</i></a>
                                      </p>
                                    </div>                  
                                </div>
                                <div class="col-lg-6 mb-5 pt-3">
                                    <div class="media tm-testimonial">
                                      <img class="mr-4 col-4 rounded-circle img-fluid" src="{% static 'img/labratore.jpg' %}" alt="Generic placeholder image">
                                      <p class="media-body pt-3 tm-testimonial-text text-justify">
                                        نتایج آزمایشگاه همراه عکس و توضیحات مربوط به آن
                                        <br>
                                        <a href="{% url 'farms:labratores' farm.pk %}"><i class="material-icons" style="font-size:60px;color:aquamarine;">visibility</i></a>
                                        </p>
                                    </div>                  
                                </div>
                                <div class="col-lg-6 mb-5 pt-3">
                                    <div class="media tm-testimonial">
                                        <img href="" class="mr-4 col-4 rounded-circle img-fluid" src="{% static 'img/medecian.png' %}" alt="Generic placeholder image">
                                        <p class="media-body pt-3 tm-testimonial-text text-justify">
                                        بهداشت و سلامت مزرعه دسته بندی بصورت تاریخ سرکشی شامل عکس های گرفته شده و دستورالعمل های درمان
                                        <br>
                                        <a href="{% url 'farms:medicians' farm.pk %}"><i class="material-icons" style="font-size:60px;color:aquamarine;">visibility</i></a>
                                    </p>
                                    </div>                  
                                </div>
                                <div class="col-lg-6 mb-5 pt-3">
                                    <div class="media tm-testimonial">
                                      <img class="mr-4 col-4 rounded-circle img-fluid" src="{% static 'img/schedule.jpg' %}" alt="Generic placeholder image">
                                      <p class="media-body pt-3 tm-testimonial-text text-justify">
                                       مشاهده برنامه نوردهی به مزرعه شامل یک لیست کامل توضضیحات می باشد
                                       <br>
                                        <a href="{% url 'farms:schedules' farm.pk %}"><i class="material-icons" style="font-size:60px;color:aquamarine;">visibility</i></a>
                                    </p>
                                    </div>                  
                                </div>
                                <div class="col-lg-6 mb-5 pt-3">
                                    <div class="media tm-testimonial">
                                      <img class="mr-4 col-4 rounded-circle img-fluid" src="{% static 'img/scissor.png' %}" alt="Generic placeholder image">
                                      <p class="media-body pt-3 tm-testimonial-text text-justify">
                                       مک بری مزرعه شامل تاریخ شروع , تاریخ پایان و قسمت توضضیحات
                                       <br>
                                        <a href="{% url 'farms:make_bery' farm.pk %}"><i class="material-icons" style="font-size:60px;color:aquamarine;">visibility</i></a>
                                    </p>
                                    </div>                  
                                </div>
                                <div class="col-lg-6 mb-5 pt-3">
                                    <div class="media tm-testimonial">
                                      <img class="mr-4 col-4 rounded-circle img-fluid" src="{% static 'img/Function.png' %}" alt="Generic placeholder image">
                                      <p class="media-body pt-3 tm-testimonial-text text-justify">
                                      عملکرد مزرعه براساس تاریخ وارد شده ضریب تولید و ضریب وزن گیری
                                      <br>
                                        <a href="{% url 'farms:functions' farm.pk %}"><i class="material-icons" style="font-size:60px;color:aquamarine;">visibility</i></a>
                                    </p>
                                    </div>                  
                                </div>
                                <div class="col-lg-6 mb-5 pt-3">
                                    <div class="media tm-testimonial">
                                      <img class="mr-4 col-4 rounded-circle img-fluid" src="{% static 'img/sales.png' %}" alt="Generic placeholder image">
                                      <p class="media-body pt-3 tm-testimonial-text text-justify">
                                      میزان فروش مزرعه در تاریخ معین فروش تخم مرغ یا کود
                                      <br>
                                        <a href=""><i class="material-icons" style="font-size:60px;color:aquamarine;">visibility</i></a>
                                    </p>
                                    </div>                  
                                </div>
		                    </div>
				        </div>
                    </div>
                    <div class="col-md-2"> 
                        <h2 class="tm-page-title mb-5 tm-text-primary text-center tm-bg-gray">  مدیریت مزرعه</h2>    
                        <ul style="direction: rtl; float: right;">
                            <li style="list-style-type: none;">
                                <a style="float: right;" href="{% url 'farms:edit_farm' farm.pk %}"><i class="material-icons" style="font-size:60px;color:tomato;">agriculture</i>مزرعه</a>
                            </li>
                            <li style="list-style-type: none;">
                                <a style="float: right;" href="{% url 'farms:create_profilechicken' farm.pk %}"><i class="material-icons" style="font-size:60px;color:burlywood;">set_meal</i>محصول</a>
                            </li>
                            <li style="list-style-type: none;">
                                <a style="float: right;" href="{% url 'farms:create_manufacturing' farm.pk %}"><i class="material-icons" style="font-size:60px;color:blueviolet;">poll</i>تولید</a>
                            </li>
                            <li style="list-style-type: none;">
                                <a style="float: right;" href="{% url 'farms:create_vaccination' farm.pk %}"> <i class="material-icons" style="font-size:60px;color:greenyellow;">medical_services</i>واکسن</a>
                            </li>
                            <li style="list-style-type: none;">
                                <a style="float: right;" href="{% url 'farms:create_medician' farm.pk %}"> <i class="material-icons" style="font-size:60px;color:rgb(71, 255, 47);">healing</i>بهداشت</a>
                            </li>
                            <li style="list-style-type: none;">
                                <a style="float: right;" href="{% url 'farms:create_labratore' farm.pk %}"> <i class="material-icons" style="font-size:60px;color:blue;">local_pharmacy</i>آزمایش</a>
                            </li>
                            <li style="list-style-type: none;">
                                <a style="float: right;" href="{% url 'farms:create_losse' farm.pk %}"> <i class="material-icons" style="font-size:60px;color:red;">heart_broken</i>تلفات</a>
                            </li>
                            <li style="list-style-type: none;">
                                <a style="float: right;" href="{% url 'farms:create_manage' farm.pk %}"> <i class="material-icons" style="font-size:60px;color:aqua;">badge</i>مدیریت</a>
                            </li>
                            <li style="list-style-type: none;">
                                <a style="float: right;" href="{% url 'farms:create_incaome' farm.pk %}"> <i class="material-icons" style="font-size:60px;color:rgb(7, 102, 26);">shopping_cart</i>فروش</a>
                            </li>
                            <li style="list-style-type: none;">
                                <a style="float: right;" href="{% url 'farms:create_function' farm.pk %}"> <i class="material-icons" style="font-size:60px;color:rgb(22, 89, 189);">psychology</i>عملکرد</a>
                            </li>
                            <li style="list-style-type: none;">
                                <a style="float: right;" href="{% url 'farms:create_schedule' farm.pk %}"> <i class="material-icons" style="font-size:60px;color:rgb(204, 198, 20);">restore</i>نوردهی</a>
                            </li>
                            <li style="list-style-type: none;">
                                <a style="float: right;" href="{% url 'farms:create_make_bery' farm.pk %}"> <i class="material-icons" style="font-size:60px;color:rgb(255, 89, 0);">content_cut</i>مک بری</a>
                            </li>
                        </ul>
                    </div>
                </div>
			</div>
		</main>

		<div class="container-fluid tm-content-container mx-auto pt-4">
			<!-- Subscribe form and footer links -->
            <div class="row pt-3">
                <div class="col-xl-6 col-lg-12 mb-4">
                    <div class="tm-bg-gray p-5 h-100">
                        <h3 class="tm-text-primary mb-3">Do you want to get our latest updates?</h3>
                        <p class="mb-5">Please subscribe our newsletter for upcoming new videos and latest information about our
                            work. Thank you.</p>
                        <form action="" method="GET" class="tm-subscribe-form">
                            <input type="text" name="email" placeholder="Your Email..." required>
                            <button type="submit" class="btn rounded-0 btn-primary tm-btn-small">Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
                    <div class="p-5 tm-bg-gray">
                        <h3 class="tm-text-primary mb-4">Quick Links</h3>
                        <ul class="list-unstyled tm-footer-links">
                            <li><a href="#">Duis bibendum</a></li>
                            <li><a href="#">Purus non dignissim</a></li>
                            <li><a href="#">Sapien metus gravida</a></li>
                            <li><a href="#">Eget consequat</a></li>
                            <li><a href="#">Praesent eu pulvinar</a></li>
                        </ul>    
                    </div>                        
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
                    <div class="p-5 tm-bg-gray h-100">
                        <h3 class="tm-text-primary mb-4">Our Pages</h3>
                        <ul class="list-unstyled tm-footer-links">
                            <li><a href="#">Our Videos</a></li>
                            <li><a href="#">License Terms</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Privacy Policies</a></li>
                        </ul>
                    </div>                        
                </div>
            </div> <!-- row -->

            <footer class="row pt-5">
                <div class="col-12">
                    <p class="text-right">Copyright 2020 The Video Catalog Company 
                        
                        - Designed by <a href="https://templatemo.com" rel="nofollow" target="_parent">TemplateMo</a></p>
                </div>
            </footer>
		</div>		
	</div>

	<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>    
</body>
</html>